name: Train Cloud Hole Detection Model

on:
  workflow_dispatch:
  push:
    branches: [ main ]

env:
  AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  AZURE_RESOURCE_GROUP:  ${{ secrets.AZURE_RESOURCE_GROUP }}
  AZURE_ML_WORKSPACE:    ${{ secrets.AZURE_ML_WORKSPACE }}

jobs:
  development:
    name: Train model
    
    runs-on: ubuntu-latest
    
    environment:
      name: "development"
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Install latest Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

      - name: Install Azure ML extension
        run: |
          az extension remove -n ml || true
          az extension add -n ml --yes

          az version
          az extension show -n ml

      - name: Run training job
        run: |
          az account set --subscription "$AZURE_SUBSCRIPTION_ID"
          az ml job create \
            --file src/train_job.yml \
            --resource-group "$AZURE_RESOURCE_GROUP" \
            --workspace-name "$AZURE_ML_WORKSPACE" \
            --stream