name: PR Workflow

on:
  pull_request:
    # Trigger only when a PR is created
    types: [opened, reopened]
    branches: [ main, develop ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@main
      - name: Use Python version 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: Install Flake8
        run: |
          python -m pip install flake8
      - name: Run linting tests
        run: | 
          flake8 src/

      - name: Install unittest
        run: |
          python -m pip install -r requirements.txt
      - name: Run unit tests
        run: |
          pytest tests/
  
